Source: board
Section: misc
Priority: optional
Maintainer: Michael Kulabuhov <progger.ru@gmail.com>
Build-Depends: debhelper (>= 8.0.0),
 libgl1-mesa-dev,
 qt52base,
 qt52declarative,
 zlib1g-dev,
 libpoppler-qt5-dev,
 libx11-dev,
 libxi-dev,
 libxcb1-dev,
 libxcb-xinput0-dev,
 libxcb-xfixes0-dev,
Standards-Version: 3.9.4
Homepage: https://progger.dyndns.info/

Package: board
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 qt52imageformats,
 qt52multimedia,
 qt52quickcontrols,
 qt52svg
Recommends: board-import-documenets
Description: board graphics program
 Extendable vector graphics program

Package: libboard-common
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: board graphics program
 Extendable vector graphics program
 .
 This package contains the common library

Package: libboard-common-dev
Section: libdevel
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: board graphics program
 Extendable vector graphics program
 .
 This package contains the common library development files

Package: board-import-documents
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, qtdeclarative5-qtquick2-plugin
Description: board graphics program
 Extendable vector graphics program
 .
 This package contains import documents plugin

Package: board-mpx
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: board graphics program
 Extendable vector graphics program
 .
 This package contains multipoint extension

